nav{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.link{
    display: flex;
    text-decoration: none;
    /*background-color: #007bff;*/
    background-color: white;
    border-radius: 5px;
    border: #a29d7f 1px solid;
    align-items: center;
    padding: 10px;
   /* color:#ffffff;*/
    color:#9c8680;
    width: 85%;
    margin:auto;
    margin-bottom: 8px;
}
.link:hover{
 background-color:#a29d7f ;
 color: white;
}
.icon-menu{
    margin-right: 10px;
}

